<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Personal Website</title>
    <link rel="icon" href="../../public/images/pixil-frame-0.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/styles/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <text class="navbar-brand">Personal Website</text>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="../../index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="https://github.com/ProjectsDev01"
                >Github</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="./contact.html">Contact</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                href="../../public/files/Golis_SE_CV.pdf"
                download
              >
                CV
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-download"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"
                  />
                  <path
                    d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="bg-dark text-secondary px-4 py-5 text-center">
      <div class="py-5">
        <div class="col-lg-6 mx-auto">
          <p class="fs-5 mb-4">My adventure with programming began back in high school, but until my high school years, 
            my knowledge was mainly focused on simple console applications written in C++. 
            It was only during my studies that I started to explore new technologies, 
            such as those listed below</p>
        </div>
      </div>
    </div>
    <h3 class="display-5 fw-bold text-center mt-5"> My Stack</h3>
    <div class="container">
      <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="text-centerfeaturette-heading fw-normal lh-1">C/C++ (Embedded)</h2>
        <p class="lead">I had the most experience with the C language, as it was the first one I learned. During the first stage of my studies, which I completed in the field of Industrial Automation, I took numerous courses such as basics of microprocessor technology and fundamentals of C and C++. Through these courses, I gained knowledge in programming processors and writing programs for the Atmega32 processor to control servo drives or stepper motors. Additionally, on my GitHub, there is a project for an acoustic equalizer written in C and Matlab for signal control and attenuation of specific sound frequencies using filters.</p>
      </div>
      <div class="col-md-5">
        <img src="../../public/images/8-lVgrs1q0HrVlo0y.png" alt="embedded systems">
      </div>
    </div>
      <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Java with Swing</h2>
        <p class="lead">Decided to learn Java along with the Swing library for the purpose of writing my engineering thesis. The goal was to create a GUI application that allows for the calculation of the minimal function using the Quine-McCluskey method for sequential automata. In the future, the project may be expanded with additional methods and could be released on a website.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../public/images/QM.jpg" alt="QuineMcCluskeyeApp">
      </div>
    </div>
      <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Web Developer Tools</h2>
        <p class="lead">I started learning web development (both front-end and back-end) a year ago on the Udemy platform. I had previously learned HTML and CSS for my own needs in creating a simple CV. When I gained knowledge of creating APIs through the courses, I thought that programming the back-end of websites brought me a lot of satisfaction. During the course, I became familiar with technologies such as Express.js, Node.js with the Nodemon extension, React.js, and jQuery, as well as topics related to databases (PostgreSQL). Additionally, I covered several lessons related to Web3 and Blockchain.</p>
      </div>
      <div class="col-md-5">
        <img src="../../public/images/8-AxlIoeEFp1vIrv3.png" alt="web dev tools">
      </div>
    </div>
      <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Git, Github, Bash</h2>
        <p class="lead">As part of the same course, I gained basic knowledge of version control using the Bash terminal in Visual Studio Code, basic Linux commands, and later in the course, I solidified my knowledge of working on the Ubuntu system. As a result, a repository was created on GitHub, which I strive to keep updated and develop continuously.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../public/images/Git-Icon.png" alt="Git">
      </div>
    </div>
      <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Game Developer Tools</h2>
        <p class="lead">The latest field in which I decided to enhance my skills is Game Development and the Unity environment. Along with a few friends, we decided to create small projects that we hope will be developed into full-fledged games in the future. For these projects, I familiarized myself with the syntax of the C# language used in the Unity environment. We hope that the first game will be released later this year!</p>
      </div>
      <div class="col-md-5">
        <img src="../../public/images/unity (2).jpg" alt="unity logo">
      </div>
    </div>
      <hr class="featurette-divider">
    <div class="justify-content-md-center row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="text-center featurette-heading fw-normal lh-1">Other...</h2>
        <p class="text-center lead">Over the years, I have also encountered several technologies that I can revisit, and my skills in them may come in handy. During my studies, I worked with MatLab, a simple interpreted language very similar to Python. I also gained knowledge in creating databases using Microsoft Access. 
          Additionally, for the purpose of creating a simple menu for the acoustic equalizer project mentioned earlier, I worked with Windows Forms.</p>
      </div>
    </div>
    <hr class="featurette-divider">
    <h3 class="display-5 fw-bold text-center mt-5"> My Soft Skills</h3>
    <div class="container">
      <hr class="featurette-divider">
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">English</h3>
              <div class="mb-1 text-body-secondary">C1.1 technical</div>
              <p class="card-text mb-auto">During the first stage of my studies, I completed a language course at the technical level C1.1. In my summer job as a city guide, I used the language to narrate information about the city.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">German</h3>
              <div class="mb-1 text-body-secondary">A2.1</div>
              <p class="mb-auto">Currently, I attend German language classes at the A2.1 level. However, due to the utility of the language in my city, I have decided to supplement my learning to achieve a communicative level.</p>
            </div>
          </div>
        </div>
        <div class="text-center col-md-12">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">More in the future...</h3>
              <p class="mb-auto">My small dream is to learn five languages at a communicative level, allowing me to communicate abroad without obstacles. Currently, I have exposure to three languages (Polish - native, English, and German), but I also plan to learn Spanish.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">Quickly learner</h3>
              <p class="mb-auto">If I feel that certain knowledge will be useful or is simply interesting, I eagerly self-educate to acquire it.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">Rapidly adapts</h3>
              <p class="card-text mb-auto">I adapt easily to new environments and have no problem with changing surroundings.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">Creativity</h3>
              <p class="card-text mb-auto">I am resourceful and adept at finding solutions to problems I encounter.</p>
            </div>
          </div>
        </div>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">Team player</h3>
                <p class="card-text mb-auto">I am a sociable person and thrive in team environments.</p>
              </div>
            </div>
          </div>    
      </div>  
    </div>
    <div class="container ">
      <footer
        class="text-center d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <p class="col-md-4 mb-0 text-body-secondary mx-auto">© 2024 Personal Website</p>
      </footer>
    </div>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>
  </body>
</html>
